*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --color-text:rgba(255, 255, 255, 0.726);
    --headerHeight: 20vh;
    --header__top:calc(var(--headerHeight)*0.7);
    --header__bot:calc(var(--headerHeight)*0.3);
}
header{
    height: var(--headerHeight);
}
a{
    text-decoration: none;
}
.header__top{
    height: var(--header__top);
    width: 100vw;
    position: fixed; 
    background-color: black;
    display: flex;
    justify-content: space-around;

}
.header__bot{
    margin-top: var(--header__top);
    height: var(--header__bot);
    width: 100%;
    position: fixed;
    background-color: #777;
}
.top_header_left{
   padding:10px;
   cursor: pointer;
}
.top_header_right{
   padding:10px;
   cursor: pointer; 
}
.sign__text{
   color :var(--color-text);
}
.header_mid_text{
    color :white;
    font-size: larger;
}
.cart_text{
   color :var(--color-text);
}
/* .top_header_mid{
   
     
 } */
.items_top_header{
padding-top: 20px;
}
/* .signin{

}
.signup{

}
.items_top_header{

}
.cart_text{

} */